{% extends "layout.html" %}

{% block title %}{{ page.title }}{% endblock %}

{% block content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

  <div class="split-container">
    <section>
      <header>
        <h1>{{ page.title }}</h1>
        <div class="tools">
          <a href="{{ page.full_path }}">[ link ]</a>
        </div>
      </header>

      <aside class="highlights">
        <div class="highlights-group">
          
          <dl class="output-field-implicit"> <dt>Status</dt>
            <dd>{{ page.status }}</dd>
          </dl>

          <dl class="output-field-implicit"> <dt>Alias</dt>
            <dd>{{ page.alias }}</dd>
          </dl>
          
          <dl class="output-field-implicit"> <dt>Default Topic</dt>
            <dd>
              {% if page.default_topic %}
              <a href="{% url 'topics:details' page.default_topic.tag %}">{{ page.default_topic.name }}</a>
              {% else %}
              None
              {% endif %}
              
            </dd>
          </dl>

          <dl class="output-field-implicit"> <dt>Position</dt>
            <dd>{{ page.position }}</dd>
          </dl>

          <dl class="output-field-implicit"> <dt>Page Views</dt>
            <dd>{{ page.page_views }}</dd>
          </dl>          
          
        </div>        
      </aside>
    </section>

    <section>
      <header>
        <h2>Notes </h2>
        <div class="tools">
          <a href="{% url 'pages:edit' page.id %}">Edit</a>
        </div>
      </header>
      <p>{{ page.notes }}</p>
    </section>
    
    <section>
      <header>
        <h2>Topics ({{ page.pagetopic_set.count }})</h2>
        <div class="tools">
          <a href="{% url 'pages:comment' page.id %}">Add topic</a>
        </div>
      </header>
      <ul>
        
        {% for pagetopic in page.pagetopic_set.all %}
        <li>
          <a href="{% url 'topics:details' pagetopic.topic.tag %}">{{ pagetopic.topic.name }}</a>
        </li>
        {% endfor %}        
      
      </ul>
    </section>

    <section>
      <header>
        <h2>Comments ({{ page.comment_set.count }})</h2>
        <div class="tools">
          <a href="{% url 'pages:comment' page.id %}">Add comment</a>
        </div>
      </header>
      <ul>        
        {% for comment in page.comments %}
        <li>{{ comment.added }}: {{ comment.user.name }}<br>
          {{ comment.content }}
        </li>
        {% endfor %}  
      </ul>    
    </section>
    
  </div> {# class="split-container"> #}

  <div class="split-container">
    <section>
      <header>
        <h2>Destination Page(s)</h2>
        <div class="tools">
          <a href="{% url 'pages:destination' page.id %}">Create new</a>
        </div>
      </header>
      <ul>        
        {% for conversion in conversions %}
        <li>
          <a href="{% url 'pages:destination' page.id|lower conversion.destination.id|lower %}">{{ conversion.destination.title }}</a> - 
          <a href="{{ conversion.destination.full_path }}">[ link ]</a>
        </li>
        {% endfor %}  
      </ul>    
    </section>
  </div>
    
{% endblock %} {# content #}
    
{% block script %}
<script type="text/javascript">
</script>
{% endblock %}

